body {
font: 1.2em "Fira Sans", sans-serif;
text-align: center;
background-color:#1e2124; 


}

div {
margin-left: auto;
margin-right: auto;
text-align: center;
background-color :  #36393e;
width: 75%;
border: 15px white;
color: white;
border-radius: 25px;
}

h3 {
margin-left: auto;
margin-right: auto;
text-align: center;
background-color :  #FF5733;
width: 75%;
border: 15px white;
}

a{
color: #7289da;

}
