body {
font: 1.2em "Fira Sans", sans-serif;
text-align: center;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,26,185,1) 0%, rgba(0,212,255,1) 100%);

}

div {
margin-left: auto;
margin-right: auto;
text-align: center;
background-color : white;
width: 75%;
border: 15px white;
}
